{% javascript %}
$(function(){
  $('.collection-slide').slick({
  infinite: true,
  speed: 500,
  slidesToShow: 1,
  slidesToScroll: 1
  });
})
{% endjavascript %}


{%- assign collection = collections[section.settings.featured_collection] -%}
<h1>{{ collection.title }}</h1> 
<ul class="collection-slide">
  {% for product in collection.products %}
  <li>
    <a href="{{ product.url | within: collection }}">
      <img src="{{ product.featured_image.src | img_url: '300x' }}" alt="{{ product.featured_image.alt | escape }}">
    </a>
    <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
    <p>{{ product.price | money }}</p>
  {% unless product.available %}<br><strong>sold out</strong>{% endunless %}
  </li>  
  {% endfor %}
</ul>

  {% schema %} 

  {
    "name": "Collection",
    "settings": [
      {
        "type": "collection",
        "id": "featured_collection",
        "label": {
          "cs": "Kolekce",
          "da": "Kollektion",
          "de": "Kategorie",
          "en": "Collection",
          "es": "Colección",
          "fi": "Kokoelma",
          "fr": "Collection",
          "it": "Collezione",
          "ja": "コレクション",
          "ko": "컬렉션",
          "nb": "Samling",
          "nl": "Collectie",
          "pl": "Kolekcja",
          "pt-BR": "Coleção",
          "pt-PT": "Coleção",
          "sv": "Produktserie",
          "th": "คอลเลกชัน",
          "tr": "Koleksiyon",
          "vi": "Bộ sưu tập",
          "zh-CN": "收藏",
          "zh-TW": "商品系列"
        }
      }
    ]
  }
{% endschema %}