<style>
.footer_box{
  padding: 2rem;
  border-top: #40271d 1px solid;
}
.grid-collection {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1px;
  margin: 1em;
}
.grid-product {
  display: grid;
  margin: 0 20%;
}
.copy-right{
  text-align: center;
}
</style>

<footer>
  <div class="footer_box">
    {%- assign social_accounts = 'Facebook, Twitter, Pinterest, Instagram, Snapchat, Tumblr, YouTube, Vimeo,' | split: ', ' -%}
    <ul class="grid-collection">
      {% for social in social_accounts %}
        {%- assign social_handle = social | handleize -%}
        {% capture social_link %}social_{{ social_handle }}_link{% endcapture %}
        {% capture social_icon %}icon-{{ social_handle }}{% endcapture %}

        {% if settings[social_link] != blank %}
          <li class="grid-product">
            <a href="{{ settings[social_link] }}" title="{{ 'layout.footer.social_platform' | t: name: shop.name, platform: social }}">
              {% include social_icon %}
              <span class="icon-fallback-text">{{ social }}</span>
            </a>
          </li>
        {% endif %}

      {% endfor %}
    </ul>

    <div class="copy-right">
      <small>{{ shop.name }} &copy; {{ 'now' | date: "%Y" }}</small>
    </div>
  </div>  
</footer>

{% schema %}
  {
    "name": "Footer",
    "settings": [
      {
        "type": "link_list",
        "id": "footer_linklist",
        "label": "First menu",
        "default": "footer"
      }
    ]
  }

{% endschema %}
