<style>
  .collection-title{
    text-align: center;
  }
  .collection-box{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-gap: 2rem;
    list-style: none;
  }
  .collection-box a{
    text-decoration: none;
  }
  .collection-box a:hover{
    color: black;
  }
  .product-panel{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
  .product-panel__image{
    grid-column: 1/3;
  }
</style>


{%- assign collection = collections[section.settings.featured_collection] -%}
<div class="container">
  afdadf
  <h1 class="collection-title">{{ collection.title }}</h1> 
  <ul class="collection-box">
    {% for product in collection.products limit:6%}
    <li class='product-panel'>
      <a class="product-panel__image" href="{{ product.url | within: collection }}">
        <img src="{{ product.featured_image.src | img_url: '300x' }}" alt="{{ product.featured_image.alt | escape }}">
      </a>
      <a href="{{ product.url | within: collection }}">{{ product.title }}</a>
      <p>{{ product.price | money }}</p>
    {% unless product.available %}<br><strong>sold out</strong>{% endunless %}
    </li>  
    {% endfor %}
  </ul>
</div>

  {% schema %} 

  {
    "name": "Default Page",
    "settings": [
      {
        "type": "collection",
        "id": "default_collection",
        "label": {
          "cs": "Kolekce",
          "da": "Kollektion",
          "de": "Kategorie",
          "en": "Collection",
          "es": "Colección",
          "fi": "Kokoelma",
          "fr": "Collection",
          "it": "Collezione",
          "ja": "コレクション",
          "ko": "컬렉션",
          "nb": "Samling",
          "nl": "Collectie",
          "pl": "Kolekcja",
          "pt-BR": "Coleção",
          "pt-PT": "Coleção",
          "sv": "Produktserie",
          "th": "คอลเลกชัน",
          "tr": "Koleksiyon",
          "vi": "Bộ sưu tập",
          "zh-CN": "收藏",
          "zh-TW": "商品系列"
        }
      }
    ]
  }
{% endschema %}