<style>
  .hero-image{
    width: 100%;
    height: 100vw;
    max-height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }
  {% if section.settings.show_announcement %}
  .hero-image{
    margin-top: 3.5rem;
  }
  {% endif %}
    .hero-image{
      width: 100%;
      height: 100vw;
      max-height: 100vh;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      position: relative;
    }
    {% if section.settings.show_announcement %}
    .hero-image{
      margin-top: 3.5rem;
    }
    {% endif %}
    .navbar{
      position: fixed;
      width: 100%;
      top: 0;
      z-index: 99;
    }
    .navcontents{
      width: 100%;
      display: flex;
      justify-content: center;
      background-color: #ffffff;
      border-bottom: 1px solid black;
    }
    .hero-image__text{
      text-align: center;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: white;
    }
    .announcement-bar {
      background-color: {{ section.settings.announcement_bar_color }};
      text-align: center;
      text-decoration: none;
    }
    .announcement-bar__message {
      color: {{ section.settings.announcement_bar_text }};
      line-height: 3.5;
    }  
</style>

  
  <div data-section-id="{{ section.id }}" data-section-type="header-section">
    <header role="banner">
      <nav role="navigation" class="navbar">  
      {%- if section.settings.show_announcement -%}
        <div class="announcement-bar">
          <p class="announcement-bar__message">{{section.settings.announcement_text}}</p>
        </div>
      {%- endif -%}
      <section class="navcontents">
        <a href="/cart">
          {% include 'icon-cart' %}
          {{ 'layout.cart.title' | t }}
          ({{ cart.item_count }} {{ 'layout.cart.items_count' | t: count: cart.item_count }})
        </a>
        {% if shop.customer_accounts_enabled %}
          <ul>
            {% if customer %}
              <li>
                {% if customer.first_name != blank %}
                  {% capture first_name %}<a href="/account">{{ customer.first_name }}</a>{% endcapture %}
                  {{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}
                {% else %}
                  <a href="/account">{{ 'layout.customer.account' | t }}</a>
                {% endif %}
              </li>
              <li>
                {{ 'layout.customer.log_out' | t | customer_logout_link }}
              </li>
            {% else %}
              <li>
                {{ 'layout.customer.log_in' | t | customer_login_link }}
              </li>
              <li>
                {{ 'layout.customer.create_account' | t | customer_register_link }}
              </li>
            {% endif %}
          </ul>
        {% endif %}
        
        <form action="/search" method="get" role="search">
          <label for="Search" class="label-hidden">
            {{ 'general.search.placeholder' | t }}
          </label>
          <input type="search"
                name="q"
                id="Search"
                value="{{ search.terms | escape }}"
                placeholder="{{ 'general.search.placeholder' | t }}">
          <button type="submit" class="btn">
            {% include 'icon-search' %}
            <span class="icon-fallback-text">{{ 'general.search.submit' | t }}</span>
          </button>
        </form>
  
        <ul>
          {% for link in linklists[section.settings.main_linklist].links %}
            {% if link.links != blank %}
              <li>
                <a href="{{ link.url }}">{{ link.title | escape }}</a>
                <ul>
                  {% for childlink in link.links %}
                    {% if childlink.links != blank %}
                      <li>
                        <a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
                        <ul>
                          {% for grandchildlink in childlink.links %}
                            <li>
                              <a href="{{ grandchildlink.url }}">{{ grandchildlink.title | escape }}</a>
                            </li>
                          {% endfor %}
                        </ul>
                      </li>
                    {% else %}
                      <li>
                        <a href="{{ childlink.url }}">{{ childlink.title | escape }}</a>
                      </li>
                    {% endif %}
                  {% endfor %}
                </ul>
              </li>
            {% else %}
              <li>
                <a href="{{ link.url }}">{{ link.title | escape }}</a>
              </li>
            {% endif %}
          {% endfor %}
        </ul>
      </section>
    </nav>

    </header>
  
    
  </div>
  
  {% schema %}
    {
      "name": "Header",
      "settings": [
      
        {
          "type": "link_list",
          "id": "main_linklist",
          "label": "Menu",
          "default": "main-menu"
        },
        {
          "type": "checkbox",
          "id": "show_announcement",
          "label": "Show announcement",
          "default": true
        },
        {
          "type": "text",
          "id": "announcement_text",
          "label": "Announcement Text",
          "default": "Type Announcement Text"
        },      
        {
          "type": "color",
          "id": "announcement_bar_color",
          "label": "Background color",
          "default": "#000000"
        },
        {
          "type": "color",
          "id": "announcement_bar_text",
          "label": "Announcement Text Color",
          "default": "#ffffff"
        },
        {
          "type": "text",
          "id": "hero_bar_header",
          "label": "Hero Bar Header",
          "default": "Hero Bar Header"
        },      
        {
          "type": "text",
          "id": "hero_bar_text",
          "label": "Hero Bar Text",
          "default": "Hero Bar Text"
        }
      ]
    }
  
  {% endschema %}
  
  
  
  
  