{% layout 'no-hero-image' %}
<style>
  .product-choice{
    margin: 0 5rem;
  }
  .product-wrapper{
    margin-top: 10rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto 1fr;
  }
  .product-image{
    padding: 0 10px;
  }
  .rte{
    grid-row: 2 / 2;
    grid-column: 1 / 3;
  }
  .add-button{
    border: 1px black solid;
    border-radius: unset;
    width: 100%;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }
  #shopify-product-reviews{
    grid-column: 1 / 3;
  }
  .radio-wrapper{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1rem;
  }
  .radio-panel{
    text-align: center;
  }
  .radio-button{
    position: absolute;
    display: none;
  }
  .radio-label{
    padding: 10px 20px;
    border: 1px grey solid !important;
    width: 100%;
  }
  .radio-button:checked + label{
    border: 2px black solid !important;
  }
  .sns-icons a{
    margin: 0 2px;
  }
  @media screen and (max-width:750px) {
    .product-choice{
      margin: 0;
    }
    .product-wrapper{
      margin-top: 10rem;
      display: block;
      padding: 0 20px;
    }
  }
</style>
<div class="product-choice" data-section-id="{{ section.id }}" data-section-type="product" data-enable-history-state="true" itemscope itemtype="http://schema.org/Product">

  {%- assign current_variant = product.selected_or_first_available_variant -%}
  {%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

  <meta itemprop="name" content="{{ product.title }}{% unless product.has_only_default_variant %} - {{ current_variant.title }}{% endunless %}">
  <meta itemprop="url" content="{{ shop.url }}{{ current_variant.url }}">
  <meta itemprop="brand" content="{{ product.vendor }}">
  <meta itemprop="image" content="{{ featured_image | img_url: '600x600' }}">
  <meta itemprop="description" content="{{ product.description | strip_html | escape }}">

  <div class="product-wrapper container">
    {% if featured_image != blank %}
      <img class="product-image" src="{{ featured_image | img_url: '480x480' }}" alt="{{ featured_image.alt | escape }}" data-product-featured-image>
    {% endif %}
    <div>
      
      <h5>{{ product.vendor }}</h5>
      <h3 data-price-wrapper>
        <span data-product-price>
          {{ current_variant.price | money }}
        </span>

        {% if product.compare_at_price_max > product.price %}
          <span class="visually-hidden" data-compare-text>{{ 'products.product.regular_price' | t }}</span>
          <s data-compare-price>
            {% if current_variant.compare_at_price > current_variant.price %}
              {{ current_variant.compare_at_price | money }}
            {% endif %}
          </s>
        {% endif %}
      </h3>
      <h1>{{ product.title }}</h1>

      <div itemprop="offers" itemscope itemtype="http://schema.org/Offer">
        <meta itemprop="priceCurrency" content="{{ shop.currency }}">
        <meta itemprop="price" content="{{ current_variant.price | divided_by: 100.00 }}">
        <link itemprop="availability" href="http://schema.org/{% if current_variant.available %}InStock{% else %}OutOfStock{% endif %}">

        <form action="/cart/add" method="post" enctype="multipart/form-data">
          {% unless product.has_only_default_variant %}
            {% for option in product.options_with_values %}
              <div class="selector-wrapper js">
                <label for="SingleOptionSelector-{{ forloop.index0 }}">
                  {{ option.name }}
                </label>
                <div class="radio-wrapper">
                  {% for value in option.values %}
                    <div class="radio-panel">
                      <input
                        type="radio"
                        name="{{option.name}}"
                        class="radio-button"
                        id="radio-{{forloop.index0}}{{ value }}"
                        data-single-option-selector
                        data-index="option{{ option.position }}"
                        value="{{ value | escape }}"
                        {% if forloop.first %}checked="checked"{% endif %}
                      />
                      <label class="radio-label" for="radio-{{ forloop.index0 }}{{ value }}">
                        {{ value }}
                      </label>
                    </div>
                  {% endfor %}
                </div>
              </div>
            {% endfor %}
          {% endunless %}

          <select name="id" class="no-js" data-product-select>
            {% for variant in product.variants %}
              <option
                {% if variant == current_variant %}selected="selected"{% endif %}
                {% unless variant.available %}disabled="disabled"{% endunless %}
                value="{{ variant.id }}">
                  {{ variant.title }}
              </option>
            {% endfor %}
          </select>          
          <input type="hidden" id="Quantity" name="quantity" value="1" min="1">


          <button
            class="btn add-button"
            type="submit"
            name="add"
            data-add-to-cart
            {% unless current_variant.available %}disabled="disabled"{% endunless %}>
              <span data-add-to-cart-text>
                {% if current_variant.available %}
                  {{ 'products.product.add_to_cart' | t }}
                {% else %}
                  {{ 'products.product.sold_out' | t }}
                {% endif %}
              </span>
          </button>
        </form>

      </div>

      {% if section.settings.show_share_buttons %}
        <div class="sns-icons">
          {% include 'social-sharing', share_title: product.title, share_permalink: product.url, share_image: product %}
        </div>
      {% endif %}

      {% unless product == empty %}
        <script type="application/json" data-product-json>
          {{ product | json }}
        </script>
      {% endunless %}


      
      <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
    </div>
    <div class="rte">
      {{ product.description }}
    </div>
    <div id="shopify-product-reviews" data-id="{{product.id}}">aaa{{ product.metafields.spr.reviews }}</div>
  </div>
</div>

{% schema %}
  {
    "name": "Product pages",
    "settings": [
      {
        "type": "checkbox",
        "id": "show_share_buttons",
        "label": "Show social sharing buttons",
        "default": true
      }
    ]
  }
{% endschema %}
